body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
}

@font-face {
    font-family: norseFont;
    src: url('./Norse-Bold.otf');
}

.image-section {
    display: flex;
    background-image: url('background-form.jpg');
    background-size: cover;                     
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vw;
    color: white;
    font-size: 8rem;
    font-family: norseFont;
    justify-content: center;
}

.info-section {
    background-color: #f3f4f6;
    width: 60vw;

}

.top-section {
    font-weight: bold;
    padding-top: 100px;
    padding-right: 125px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.mid-section {
    background-color: white;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 1.4rem;
}

.logo {
    display: flex;
    align-items: center;
}

img {
    height: 200px;
}

.credit-text {
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.italic-text {
    font-style: italic;
}

input {
    -webkit-appearance: none;
    appearance: none;
}

form {
    justify-self: center;
}


fieldset {
    height: 30vh;
    border: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    font-size: 0.8rem;
}

fieldset>* {
    display: flex;
    gap: 100px;
}

fieldset>*>* {
    display: flex;
    flex-direction: column;
    gap: 2px;
    letter-spacing: 3px;
}

input {
    border: 2px solid #e4e4e6;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

input[type="submit"] {
    margin-left: 50px;
    color: white;
    background-color: #596D48;
    border: 0px;
    width: 220px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 50px;
}





